In [1]:
import sys
import pandas
import numpy
import sklearn
import keras

print('Python: {}'.format(sys.version))
print('Pandas: {}'.format(pandas.__version__))
print('Numpy: {}'.format(numpy.__version__))
print('Sklearn: {}'.format(sklearn.__version__))
print('Keras: {}'.format(keras.__version__))

Using Theano backend.

Python: 3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64 bit (AMD64)]
Pandas: 0.23.4
Numpy: 1.15.4
Sklearn: 0.20.1
Keras: 2.2.4

In [2]:
import pandas as pd
import numpy as np

In [3]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"

In [4]:
names = ['n_pregnant', 'glucose_concentration', 'blood_pressure (mm Hg)', 'skin_thickness (mm)', 'serum_insulin (mu U/ml)', 'BMI', 'pedigree_function', 'age', 'class']

In [5]:
df = pd.read_csv(url, names = names)

In [6]:
df.head()

,n_pregnant,glucose_concentration,blood_pressure (mm Hg),skin_thickness (mm),serum_insulin (mu U/ml),BMI,pedigree_function,age,class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
df.describe()

,n_pregnant,glucose_concentration,blood_pressure (mm Hg),skin_thickness (mm),serum_insulin (mu U/ml),BMI,pedigree_function,age,class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [8]:
df[df['glucose_concentration']==0]

,n_pregnant,glucose_concentration,blood_pressure (mm Hg),skin_thickness (mm),serum_insulin (mu U/ml),BMI,pedigree_function,age,class
75,1,0,48,20,0,24.7,0.140,22,0
182,1,0,74,20,23,27.7,0.299,21,0
342,1,0,68,35,0,32.0,0.389,22,0
349,5,0,80,32,0,41.0,0.346,37,1
502,6,0,68,41,0,39.0,0.727,41,1

In [9]:
columns = ['glucose_concentration', 'blood_pressure (mm Hg)', 'skin_thickness (mm)', 'serum_insulin (mu U/ml)', 'BMI']

In [10]:
for col in columns:
    df[col].replace(0, np.NaN, inplace=True)

In [11]:
df.describe()

,n_pregnant,glucose_concentration,blood_pressure (mm Hg),skin_thickness (mm),serum_insulin (mu U/ml),BMI,pedigree_function,age,class
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.535641,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,141.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
df.dropna(inplace=True)

In [13]:
df.describe()

,n_pregnant,glucose_concentration,blood_pressure (mm Hg),skin_thickness (mm),serum_insulin (mu U/ml),BMI,pedigree_function,age,class
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,3.301020,122.627551,70.663265,29.145408,156.056122,33.086224,0.523046,30.864796,0.331633
std,3.211424,30.860781,12.496092,10.516424,118.841690,7.027659,0.345488,10.200777,0.471401
min,0.000000,56.000000,24.000000,7.000000,14.000000,18.200000,0.085000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,21.000000,76.750000,28.400000,0.269750,23.000000,0.000000
50%,2.000000,119.000000,70.000000,29.000000,125.500000,33.200000,0.449500,27.000000,0.000000
75%,5.000000,143.000000,78.000000,37.000000,190.000000,37.100000,0.687000,36.000000,1.000000
max,17.000000,198.000000,110.000000,63.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [14]:
dataset = df.values
print(dataset.shape)

(392, 9)

In [15]:
X = dataset[:, 0:8]
Y = dataset[:, 8].astype(int)

In [16]:
print(X.shape)
print(Y.shape)
print(X[:5])

(392, 8)
(392,)
[[1.000e+00 8.900e+01 6.600e+01 2.300e+01 9.400e+01 2.810e+01 1.670e-01
  2.100e+01]
 [0.000e+00 1.370e+02 4.000e+01 3.500e+01 1.680e+02 4.310e+01 2.288e+00
  3.300e+01]
 [3.000e+00 7.800e+01 5.000e+01 3.200e+01 8.800e+01 3.100e+01 2.480e-01
  2.600e+01]
 [2.000e+00 1.970e+02 7.000e+01 4.500e+01 5.430e+02 3.050e+01 1.580e-01
  5.300e+01]
 [1.000e+00 1.890e+02 6.000e+01 2.300e+01 8.460e+02 3.010e+01 3.980e-01
  5.900e+01]]

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
scaler = StandardScaler().fit(X)

In [19]:
print(scaler)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [20]:
X_standardized = scaler.transform(X)

In [21]:
data = pd.DataFrame(X_standardized)

In [22]:
data.describe()

,0,1,2,3,4,5,6,7
count,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02,3.920000e+02
mean,-4.021726e-17,3.129583e-17,-4.641624e-16,1.042250e-16,6.485742e-17,1.543550e-16,3.880116e-17,1.028089e-16
std,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00,1.001278e+00
min,-1.029213e+00,-2.161731e+00,-3.739001e+00,-2.108484e+00,-1.196867e+00,-2.120941e+00,-1.269525e+00,-9.682991e-01
25%,-7.174265e-01,-7.665958e-01,-6.941640e-01,-7.755315e-01,-6.681786e-01,-6.676780e-01,-7.340909e-01,-7.719850e-01
50%,-4.056403e-01,-1.176959e-01,-5.314565e-02,-1.384444e-02,-2.574448e-01,1.621036e-02,-2.131475e-01,-3.793569e-01
75%,5.297185e-01,6.609841e-01,5.878727e-01,7.478426e-01,2.859877e-01,5.718696e-01,4.751644e-01,5.040564e-01
max,4.271153e+00,2.445459e+00,3.151946e+00,3.223325e+00,5.812990e+00,4.846172e+00,5.497667e+00,4.921123e+00

In [23]:
from sklearn.model_selection import GridSearchCV, KFold
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.optimizers import Adam

In [24]:
def create_model():
    #create model
    model = Sequential()
    model.add(Dense(8, input_dim = 8, kernel_initializer = 'normal', activation='relu'))
    model.add(Dense(4, input_dim = 8, kernel_initializer='normal', activation='relu'))
    model.add(Dense(1, activation='sigmoid'))
    
    #compile the model
    adam = Adam(lr = 0.01)
    model.compile(loss = 'binary_crossentropy', optimizer = adam, metrics = ['accuracy'])
    return model

In [25]:
model = create_model()
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 5
=================================================================
Total params: 113
Trainable params: 113
Non-trainable params: 0
_________________________________________________________________
None

In [28]:
#Define a random seed
seed = 6
np.random.seed(seed)

#Start defining the model
def create_model():
    #create model
    model = Sequential()
    model.add(Dense(8, input_dim = 8, kernel_initializer = 'normal', activation='relu'))
    model.add(Dense(4, input_dim = 8, kernel_initializer='normal', activation='relu'))
    model.add(Dense(1, activation='sigmoid'))
    
    #compile the model
    adam = Adam(lr = 0.01)
    model.compile(loss = 'binary_crossentropy', optimizer = adam, metrics = ['accuracy'])
    return model

#create the model
model = KerasClassifier(build_fn = create_model, verbose = 0)

#define the grid search parameters
batch_size = [10, 20, 40]
epochs = [10, 50, 100]

#make a dictionary of the grid search parameters
param_grid = dict(batch_size=batch_size, epochs=epochs)

#build and fit the GridSearchCV
grid = GridSearchCV(estimator = model, param_grid = param_grid, cv = KFold(random_state=seed), verbose = 10)
grid_results = grid.fit(X_standardized, Y)

#summarize the results
print("Best: {0}, using {1}".format(grid_results.best_score_, grid_results.best_params_))
means = grid_results.cv_results_['mean_test_score']
stds = grid_results.cv_results_['std_test_score']
params = grid_results.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print('{0} ({1}) with: {2}'.format(mean, stdev, param))

C:\Users\Malcolm\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:426: FutureWarning: You should specify a value for 'n_splits' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(NSPLIT_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Fitting 3 folds for each of 9 candidates, totalling 27 fits
[CV] batch_size=10, epochs=10 ........................................
[CV]  batch_size=10, epochs=10, score=0.7251908378746673, total=   1.0s
[CV] batch_size=10, epochs=10 ........................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.0s remaining:    0.0s

[CV]  batch_size=10, epochs=10, score=0.7709923664122137, total=   1.0s
[CV] batch_size=10, epochs=10 ........................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    2.0s remaining:    0.0s

[CV]  batch_size=10, epochs=10, score=0.8230769175749558, total=   1.0s
[CV] batch_size=10, epochs=50 ........................................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    3.1s remaining:    0.0s

[CV]  batch_size=10, epochs=50, score=0.7328244229309432, total=   1.2s
[CV] batch_size=10, epochs=50 ........................................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    4.4s remaining:    0.0s

[CV]  batch_size=10, epochs=50, score=0.7786259514684896, total=   1.3s
[CV] batch_size=10, epochs=50 ........................................

[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    5.8s remaining:    0.0s

[CV]  batch_size=10, epochs=50, score=0.8461538415688735, total=   1.3s
[CV] batch_size=10, epochs=100 .......................................

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    7.1s remaining:    0.0s

[CV]  batch_size=10, epochs=100, score=0.7175572482684186, total=   1.6s
[CV] batch_size=10, epochs=100 .......................................

[Parallel(n_jobs=1)]: Done   7 out of   7 | elapsed:    8.8s remaining:    0.0s

[CV]  batch_size=10, epochs=100, score=0.7251908424246403, total=   1.6s
[CV] batch_size=10, epochs=100 .......................................

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:   10.5s remaining:    0.0s

[CV]  batch_size=10, epochs=100, score=0.8230769175749558, total=   1.5s
[CV] batch_size=20, epochs=10 ........................................

[Parallel(n_jobs=1)]: Done   9 out of   9 | elapsed:   12.1s remaining:    0.0s

[CV]  batch_size=20, epochs=10, score=0.7557251903846973, total=   0.9s
[CV] batch_size=20, epochs=10 ........................................
[CV]  batch_size=20, epochs=10, score=0.7633587900008864, total=   0.9s
[CV] batch_size=20, epochs=10 ........................................
[CV]  batch_size=20, epochs=10, score=0.8384615457974948, total=   0.9s
[CV] batch_size=20, epochs=50 ........................................
[CV]  batch_size=20, epochs=50, score=0.7022900754258833, total=   1.0s
[CV] batch_size=20, epochs=50 ........................................
[CV]  batch_size=20, epochs=50, score=0.7709923786971405, total=   1.1s
[CV] batch_size=20, epochs=50 ........................................
[CV]  batch_size=20, epochs=50, score=0.8076923122772803, total=   1.1s
[CV] batch_size=20, epochs=100 .......................................
[CV]  batch_size=20, epochs=100, score=0.7557251901571987, total=   1.3s
[CV] batch_size=20, epochs=100 .......................................
[CV]  batch_size=20, epochs=100, score=0.7786259510134923, total=   1.4s
[CV] batch_size=20, epochs=100 .......................................
[CV]  batch_size=20, epochs=100, score=0.7923077023946322, total=   1.3s
[CV] batch_size=40, epochs=10 ........................................
[CV]  batch_size=40, epochs=10, score=0.7175572464484294, total=   0.9s
[CV] batch_size=40, epochs=10 ........................................
[CV]  batch_size=40, epochs=10, score=0.7633587809009407, total=   1.0s
[CV] batch_size=40, epochs=10 ........................................
[CV]  batch_size=40, epochs=10, score=0.699999988079071, total=   1.2s
[CV] batch_size=40, epochs=50 ........................................
[CV]  batch_size=40, epochs=50, score=0.7022900754258833, total=   1.5s
[CV] batch_size=40, epochs=50 ........................................
[CV]  batch_size=40, epochs=50, score=0.7786259683033893, total=   1.2s
[CV] batch_size=40, epochs=50 ........................................
[CV]  batch_size=40, epochs=50, score=0.8461538369839008, total=   1.4s
[CV] batch_size=40, epochs=100 .......................................
[CV]  batch_size=40, epochs=100, score=0.7022900936257748, total=   1.2s
[CV] batch_size=40, epochs=100 .......................................
[CV]  batch_size=40, epochs=100, score=0.7557251903846973, total=   1.1s
[CV] batch_size=40, epochs=100 .......................................
[CV]  batch_size=40, epochs=100, score=0.8307692316862253, total=   1.2s

[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:   34.7s finished
C:\Users\Malcolm\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

Best: 0.7857142917963923, using {'batch_size': 20, 'epochs': 10}
0.7729591812406268 (0.03996033894334982) with: {'batch_size': 10, 'epochs': 10}
0.7857142817609164 (0.046508596950667946) with: {'batch_size': 10, 'epochs': 50}
0.7551020386875892 (0.04798325747422201) with: {'batch_size': 10, 'epochs': 100}
0.7857142917963923 (0.0372861071952023) with: {'batch_size': 20, 'epochs': 10}
0.7602040869544964 (0.043676457630137215) with: {'batch_size': 20, 'epochs': 50}
0.7755102061343436 (0.015087460434070294) with: {'batch_size': 20, 'epochs': 100}
0.7270408113087926 (0.02670831713062866) with: {'batch_size': 40, 'epochs': 10}
0.7755102054501066 (0.058735728787621615) with: {'batch_size': 40, 'epochs': 50}
0.7627551079708703 (0.05265361568814188) with: {'batch_size': 40, 'epochs': 100}