In [1]:
import sys
import pandas as pd
import sklearn
import keras

Using Theano backend.

In [9]:
#import dataset
file = 'C:/Users/Malcolm/Desktop/python files/Machine Learning for Healthcare Analytics/Chapter 5/Autism-Child-Data.txt'
#read the csv
data = pd.read_table(file, sep = ',', index_col = None)

In [10]:
#print the shape of the dataframe so we can see how many examples we have
print('Shape of DataFrame: {}'.format(data.shape))
print(data.loc[0])

Shape of DataFrame: (292, 21)
A1_Score                               1
A2_Score                               1
A3_Score                               0
A4_Score                               0
A5_Score                               1
A6_Score                               1
A7_Score                               0
A8_Score                               1
A9_Score                               0
A10_Score                              0
age_numeric                            6
gender                                 m
ethnicity                         Others
jaundice                              no
family_history_of_autism              no
country_of_res                    Jordan
used_app_before                       no
result                                 5
age_desc                    '4-11 years'
relation                          Parent
Class/ASD                             NO
Name: 0, dtype: object

In [11]:
#print out multiple patients at the same time
data.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jaundice,family_history_of_autism,country_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,0,0,1,1,0,1,0,0,...,m,Others,no,no,Jordan,no,5,'4-11 years',Parent,NO
1,1,1,0,0,1,1,0,1,0,0,...,m,'Middle Eastern ',no,no,Jordan,no,5,'4-11 years',Parent,NO
2,1,1,0,0,0,1,1,1,0,0,...,m,?,no,no,Jordan,yes,5,'4-11 years',?,NO
3,0,1,0,0,1,1,0,0,0,1,...,f,?,yes,no,Jordan,no,4,'4-11 years',?,NO
4,1,1,1,1,1,1,1,1,1,1,...,m,Others,yes,no,'United States',no,10,'4-11 years',Parent,YES
5,0,0,1,0,1,1,0,1,0,1,...,m,?,no,yes,Egypt,no,5,'4-11 years',?,NO
6,1,0,1,1,1,1,0,1,0,1,...,m,White-European,no,no,'United Kingdom',no,7,'4-11 years',Parent,YES
7,1,1,1,1,1,1,1,1,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,8,'4-11 years',Parent,YES
8,1,1,1,1,1,1,1,0,0,0,...,f,'Middle Eastern ',no,no,Bahrain,no,7,'4-11 years',Parent,YES
9,0,0,1,1,1,0,1,1,0,0,...,f,?,no,yes,Austria,no,5,'4-11 years',?,NO
10,1,0,0,0,1,1,1,1,1,1,...,m,White-European,yes,no,'United Kingdom',no,7,'4-11 years',Self,YES

In [12]:
data.describe()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,result
count,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000,292.000000
mean,0.633562,0.534247,0.743151,0.551370,0.743151,0.712329,0.606164,0.496575,0.493151,0.726027,6.239726
std,0.482658,0.499682,0.437646,0.498208,0.437646,0.453454,0.489438,0.500847,0.500811,0.446761,2.284882
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000
50%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,6.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000

In [13]:
data.dtypes

A1_Score                     int64
A2_Score                     int64
A3_Score                     int64
A4_Score                     int64
A5_Score                     int64
A6_Score                     int64
A7_Score                     int64
A8_Score                     int64
A9_Score                     int64
A10_Score                    int64
age_numeric                 object
gender                      object
ethnicity                   object
jaundice                    object
family_history_of_autism    object
country_of_res              object
used_app_before             object
result                       int64
age_desc                    object
relation                    object
Class/ASD                   object
dtype: object

In [15]:
#drop unwanted columns
data = data.drop(['result', 'age_desc'], axis=1)

In [16]:
x = data.drop(['Class/ASD'], 1)
y = data['Class/ASD']

In [17]:
x.loc[:10]

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age_numeric,gender,ethnicity,jaundice,family_history_of_autism,country_of_res,used_app_before,relation
0,1,1,0,0,1,1,0,1,0,0,6,m,Others,no,no,Jordan,no,Parent
1,1,1,0,0,1,1,0,1,0,0,6,m,'Middle Eastern ',no,no,Jordan,no,Parent
2,1,1,0,0,0,1,1,1,0,0,6,m,?,no,no,Jordan,yes,?
3,0,1,0,0,1,1,0,0,0,1,5,f,?,yes,no,Jordan,no,?
4,1,1,1,1,1,1,1,1,1,1,5,m,Others,yes,no,'United States',no,Parent
5,0,0,1,0,1,1,0,1,0,1,4,m,?,no,yes,Egypt,no,?
6,1,0,1,1,1,1,0,1,0,1,5,m,White-European,no,no,'United Kingdom',no,Parent
7,1,1,1,1,1,1,1,1,0,0,5,f,'Middle Eastern ',no,no,Bahrain,no,Parent
8,1,1,1,1,1,1,1,0,0,0,11,f,'Middle Eastern ',no,no,Bahrain,no,Parent
9,0,0,1,1,1,0,1,1,0,0,11,f,?,no,yes,Austria,no,?
10,1,0,0,0,1,1,1,1,1,1,10,m,White-European,yes,no,'United Kingdom',no,Self

In [21]:
x = pd.get_dummies(x)

In [22]:
#print the new categorical column labels
x.columns.values

array(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score',
       'A6_Score', 'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score',
       'age_numeric_10', 'age_numeric_11', 'age_numeric_4',
       'age_numeric_5', 'age_numeric_6', 'age_numeric_7', 'age_numeric_8',
       'age_numeric_9', 'age_numeric_?', 'gender_f', 'gender_m',
       "ethnicity_'Middle Eastern '", "ethnicity_'South Asian'",
       'ethnicity_?', 'ethnicity_Asian', 'ethnicity_Black',
       'ethnicity_Hispanic', 'ethnicity_Latino', 'ethnicity_Others',
       'ethnicity_Pasifika', 'ethnicity_Turkish',
       'ethnicity_White-European', 'jaundice_no', 'jaundice_yes',
       'family_history_of_autism_no', 'family_history_of_autism_yes',
       "country_of_res_'Costa Rica'", "country_of_res_'Isle of Man'",
       "country_of_res_'New Zealand'", "country_of_res_'Saudi Arabia'",
       "country_of_res_'South Africa'", "country_of_res_'South Korea'",
       "country_of_res_'U.S. Outlying Islands'",
       "country_of_res_'United Arab Emirates'",
       "country_of_res_'United Kingdom'",
       "country_of_res_'United States'", 'country_of_res_Afghanistan',
       'country_of_res_Argentina', 'country_of_res_Armenia',
       'country_of_res_Australia', 'country_of_res_Austria',
       'country_of_res_Bahrain', 'country_of_res_Bangladesh',
       'country_of_res_Bhutan', 'country_of_res_Brazil',
       'country_of_res_Bulgaria', 'country_of_res_Canada',
       'country_of_res_China', 'country_of_res_Egypt',
       'country_of_res_Europe', 'country_of_res_Georgia',
       'country_of_res_Germany', 'country_of_res_Ghana',
       'country_of_res_India', 'country_of_res_Iraq',
       'country_of_res_Ireland', 'country_of_res_Italy',
       'country_of_res_Japan', 'country_of_res_Jordan',
       'country_of_res_Kuwait', 'country_of_res_Latvia',
       'country_of_res_Lebanon', 'country_of_res_Libya',
       'country_of_res_Malaysia', 'country_of_res_Malta',
       'country_of_res_Mexico', 'country_of_res_Nepal',
       'country_of_res_Netherlands', 'country_of_res_Nigeria',
       'country_of_res_Oman', 'country_of_res_Pakistan',
       'country_of_res_Philippines', 'country_of_res_Qatar',
       'country_of_res_Romania', 'country_of_res_Russia',
       'country_of_res_Sweden', 'country_of_res_Syria',
       'country_of_res_Turkey', 'used_app_before_no',
       'used_app_before_yes', "relation_'Health care professional'",
       'relation_?', 'relation_Parent', 'relation_Relative',
       'relation_Self', 'relation_self'], dtype=object)

In [23]:
#print an example patient from the categorical data
x.loc[1]

A1_Score                               1
A2_Score                               1
A3_Score                               0
A4_Score                               0
A5_Score                               1
A6_Score                               1
A7_Score                               0
A8_Score                               1
A9_Score                               0
A10_Score                              0
age_numeric_10                         0
age_numeric_11                         0
age_numeric_4                          0
age_numeric_5                          0
age_numeric_6                          1
age_numeric_7                          0
age_numeric_8                          0
age_numeric_9                          0
age_numeric_?                          0
gender_f                               0
gender_m                               1
ethnicity_'Middle Eastern '            1
ethnicity_'South Asian'                0
ethnicity_?                            0
ethnicity_Asian                        0
ethnicity_Black                        0
ethnicity_Hispanic                     0
ethnicity_Latino                       0
ethnicity_Others                       0
ethnicity_Pasifika                     0
                                      ..
country_of_res_Italy                   0
country_of_res_Japan                   0
country_of_res_Jordan                  1
country_of_res_Kuwait                  0
country_of_res_Latvia                  0
country_of_res_Lebanon                 0
country_of_res_Libya                   0
country_of_res_Malaysia                0
country_of_res_Malta                   0
country_of_res_Mexico                  0
country_of_res_Nepal                   0
country_of_res_Netherlands             0
country_of_res_Nigeria                 0
country_of_res_Oman                    0
country_of_res_Pakistan                0
country_of_res_Philippines             0
country_of_res_Qatar                   0
country_of_res_Romania                 0
country_of_res_Russia                  0
country_of_res_Sweden                  0
country_of_res_Syria                   0
country_of_res_Turkey                  0
used_app_before_no                     1
used_app_before_yes                    0
relation_'Health care professional'    0
relation_?                             0
relation_Parent                        1
relation_Relative                      0
relation_Self                          0
relation_self                          0
Name: 1, Length: 96, dtype: int64

In [24]:
#concert the class data to categorical values - one-hot-encoded vectors
Y = pd.get_dummies(y)

In [25]:
Y.iloc[:10]

   NO  YES
0   1    0
1   1    0
2   1    0
3   1    0
4   0    1
5   1    0
6   0    1
7   0    1
8   0    1
9   1    0

In [28]:
X

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,country_of_res_Syria,country_of_res_Turkey,used_app_before_no,used_app_before_yes,relation_'Health care professional',relation_?,relation_Parent,relation_Relative,relation_Self,relation_self
0,1,1,0,0,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
1,1,1,0,0,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
2,1,1,0,0,0,1,1,1,0,0,...,0,0,0,1,0,1,0,0,0,0
3,0,1,0,0,1,1,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0
4,1,1,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
5,0,0,1,0,1,1,0,1,0,1,...,0,0,1,0,0,1,0,0,0,0
6,1,0,1,1,1,1,0,1,0,1,...,0,0,1,0,0,0,1,0,0,0
7,1,1,1,1,1,1,1,1,0,0,...,0,0,1,0,0,0,1,0,0,0
8,1,1,1,1,1,1,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
9,0,0,1,1,1,0,1,1,0,0,...,0,0,1,0,0,1,0,0,0,0
10,1,0,0,0,1,1,1,1,1,1,...,0,0,1,0,0,0,0,0,1,0
11,0,1,0,0,1,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0
12,0,1,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
13,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
14,1,1,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
15,1,1,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
16,1,1,1,1,1,1,0,1,1,1,...,0,0,1,0,0,0,1,0,0,0
17,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
18,1,0,1,1,1,0,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
19,1,1,1,1,1,1,0,1,0,1,...,0,0,1,0,0,1,0,0,0,0
20,1,1,1,1,1,1,1,0,1,0,...,0,0,1,0,0,0,1,0,0,0
21,0,0,1,1,0,1,0,1,1,0,...,0,0,1,0,0,1,0,0,0,0
22,1,1,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
23,1,0,1,1,0,1,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
24,1,0,1,1,1,1,0,1,1,1,...,0,0,1,0,0,1,0,0,0,0
25,0,0,1,1,1,0,1,1,1,0,...,0,0,1,0,0,0,0,1,0,0
26,1,0,1,0,1,1,0,0,1,1,...,0,0,1,0,0,0,0,0,1,0
27,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,0,0,1,0,0,0
28,0,1,1,0,0,0,1,1,0,1,...,0,0,1,0,0,1,0,0,0,0
29,0,0,1,0,1,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,1,1,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
263,0,1,1,0,0,1,1,0,1,1,...,0,0,0,1,0,0,0,1,0,0
264,1,0,1,1,1,1,1,0,1,1,...,0,0,1,0,0,0,1,0,0,0
265,1,1,1,1,0,1,0,1,1,1,...,0,0,1,0,0,0,1,0,0,0
266,1,1,0,0,1,1,0,0,0,1,...,0,0,1,0,0,0,1,0,0,0
267,1,0,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
268,1,0,1,0,1,1,1,0,1,1,...,0,0,1,0,0,1,0,0,0,0
269,1,0,1,0,0,0,1,1,0,0,...,0,0,1,0,0,0,1,0,0,0
270,0,1,1,1,1,1,0,1,0,1,...,0,0,1,0,0,0,1,0,0,0
271,1,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
272,0,0,1,0,0,0,1,0,1,0,...,0,0,1,0,0,0,1,0,0,0
273,1,1,1,1,1,0,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
274,1,1,1,1,1,1,1,0,1,1,...,0,0,1,0,0,0,1,0,0,0
275,1,0,1,1,0,0,0,0,1,0,...,0,0,1,0,1,0,0,0,0,0
276,0,0,1,0,1,1,1,1,0,1,...,0,0,1,0,0,0,1,0,0,0
277,1,1,1,0,1,1,0,0,1,1,...,0,0,1,0,0,0,1,0,0,0
278,1,0,0,0,1,0,0,1,0,1,...,0,0,1,0,0,0,1,0,0,0
279,1,1,1,1,1,1,1,1,1,0,...,0,0,1,0,0,0,1,0,0,0
280,0,0,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,1,0,0,0
281,0,1,1,1,1,1,0,0,0,1,...,0,0,1,0,0,0,1,0,0,0
282,0,1,1,0,0,1,0,1,1,1,...,0,0,1,0,0,0,1,0,0,0
283,0,0,0,0,1,1,1,0,1,0,...,0,0,1,0,0,0,1,0,0,0
284,1,0,1,0,1,1,1,0,0,1,...,0,0,1,0,1,0,0,0,0,0
285,0,1,0,1,1,1,1,1,1,1,...,0,0,1,0,1,0,0,0,0,0
286,0,1,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
287,1,1,1,1,1,1,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
288,1,0,0,0,1,0,1,0,0,1,...,0,0,1,0,0,0,1,0,0,0
289,1,0,1,1,1,1,1,0,0,1,...,0,0,1,0,0,0,1,0,0,0
290,1,1,1,0,1,1,1,1,1,1,...,0,0,1,0,0,0,1,0,0,0
291,0,0,1,0,1,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0

In [29]:
from sklearn import model_selection
# split the X and Y data into training and testing datasets
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size = 0.2)

In [31]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(233, 96)
(59, 96)
(233, 2)
(59, 2)

In [33]:
# build a neural network using Keras
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam

In [34]:
# define a function to build the keras model
def create_model():
    # create model
    model = Sequential()
    model.add(Dense(8, input_dim=96, kernel_initializer='normal', activation='relu'))
    model.add(Dense(4, kernel_initializer='normal', activation='relu'))
    model.add(Dense(2, activation='sigmoid'))
    
    # compile model
    adam = Adam(lr=0.001)
    model.compile(loss='categorical_crossentropy', optimizer=adam, metrics=['accuracy'])
    return model

model = create_model()

print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 8)                 776
_________________________________________________________________
dense_2 (Dense)              (None, 4)                 36
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 10
=================================================================
Total params: 822
Trainable params: 822
Non-trainable params: 0
_________________________________________________________________
None

In [35]:
# fit the model to the training data
model.fit(X_train, Y_train, epochs=50, batch_size=10, verbose = 1)

Epoch 1/50
233/233 [==============================] - 0s 231us/step - loss: 0.6931 - acc: 0.4979
Epoch 2/50
233/233 [==============================] - 0s 227us/step - loss: 0.6925 - acc: 0.5150
Epoch 3/50
233/233 [==============================] - 0s 341us/step - loss: 0.6914 - acc: 0.6824
Epoch 4/50
233/233 [==============================] - 0s 290us/step - loss: 0.6890 - acc: 0.5880
Epoch 5/50
233/233 [==============================] - 0s 196us/step - loss: 0.6834 - acc: 0.6824
Epoch 6/50
233/233 [==============================] - 0s 276us/step - loss: 0.6722 - acc: 0.6996
Epoch 7/50
233/233 [==============================] - 0s 239us/step - loss: 0.6492 - acc: 0.5923
Epoch 8/50
233/233 [==============================] - 0s 306us/step - loss: 0.6135 - acc: 0.6910
Epoch 9/50
233/233 [==============================] - 0s 281us/step - loss: 0.5694 - acc: 0.7382
Epoch 10/50
233/233 [==============================] - 0s 342us/step - loss: 0.5347 - acc: 0.7511
Epoch 11/50
233/233 [==============================] - 0s 184us/step - loss: 0.5077 - acc: 0.8455
Epoch 12/50
233/233 [==============================] - 0s 103us/step - loss: 0.4785 - acc: 0.8369
Epoch 13/50
233/233 [==============================] - 0s 166us/step - loss: 0.4598 - acc: 0.8584
Epoch 14/50
233/233 [==============================] - 0s 141us/step - loss: 0.4429 - acc: 0.8712
Epoch 15/50
233/233 [==============================] - 0s 124us/step - loss: 0.4275 - acc: 0.9185
Epoch 16/50
233/233 [==============================] - 0s 101us/step - loss: 0.4119 - acc: 0.8841
Epoch 17/50
233/233 [==============================] - 0s 181us/step - loss: 0.3992 - acc: 0.9185
Epoch 18/50
233/233 [==============================] - 0s 111us/step - loss: 0.3897 - acc: 0.9142
Epoch 19/50
233/233 [==============================] - 0s 108us/step - loss: 0.3780 - acc: 0.9142
Epoch 20/50
233/233 [==============================] - 0s 98us/step - loss: 0.3669 - acc: 0.9399
Epoch 21/50
233/233 [==============================] - 0s 131us/step - loss: 0.3558 - acc: 0.9614
Epoch 22/50
233/233 [==============================] - 0s 178us/step - loss: 0.3502 - acc: 0.9742
Epoch 23/50
233/233 [==============================] - 0s 209us/step - loss: 0.3363 - acc: 0.9657
Epoch 24/50
233/233 [==============================] - 0s 158us/step - loss: 0.3044 - acc: 0.9657
Epoch 25/50
233/233 [==============================] - 0s 215us/step - loss: 0.2669 - acc: 0.9742
Epoch 26/50
233/233 [==============================] - 0s 132us/step - loss: 0.2269 - acc: 0.9828
Epoch 27/50
233/233 [==============================] - 0s 104us/step - loss: 0.1870 - acc: 0.9914
Epoch 28/50
233/233 [==============================] - 0s 128us/step - loss: 0.1503 - acc: 0.9871
Epoch 29/50
233/233 [==============================] - 0s 197us/step - loss: 0.1285 - acc: 0.9871
Epoch 30/50
233/233 [==============================] - 0s 206us/step - loss: 0.1085 - acc: 0.9828
Epoch 31/50
233/233 [==============================] - 0s 163us/step - loss: 0.0871 - acc: 0.9957
Epoch 32/50
233/233 [==============================] - 0s 141us/step - loss: 0.0732 - acc: 0.9957
Epoch 33/50
233/233 [==============================] - 0s 129us/step - loss: 0.0665 - acc: 0.9957
Epoch 34/50
233/233 [==============================] - 0s 130us/step - loss: 0.0557 - acc: 0.9957
Epoch 35/50
233/233 [==============================] - 0s 154us/step - loss: 0.0570 - acc: 0.9914
Epoch 36/50
233/233 [==============================] - 0s 185us/step - loss: 0.0480 - acc: 0.9957
Epoch 37/50
233/233 [==============================] - 0s 150us/step - loss: 0.0434 - acc: 0.9957
Epoch 38/50
233/233 [==============================] - 0s 143us/step - loss: 0.0428 - acc: 0.9957
Epoch 39/50
233/233 [==============================] - 0s 133us/step - loss: 0.0460 - acc: 0.9914
Epoch 40/50
233/233 [==============================] - 0s 133us/step - loss: 0.0366 - acc: 1.0000
Epoch 41/50
233/233 [==============================] - 0s 187us/step - loss: 0.0322 - acc: 1.0000
Epoch 42/50
233/233 [==============================] - 0s 116us/step - loss: 0.0307 - acc: 1.0000
Epoch 43/50
233/233 [==============================] - 0s 143us/step - loss: 0.0278 - acc: 0.9957
Epoch 44/50
233/233 [==============================] - 0s 155us/step - loss: 0.0274 - acc: 1.0000
Epoch 45/50
233/233 [==============================] - 0s 147us/step - loss: 0.0249 - acc: 1.0000
Epoch 46/50
233/233 [==============================] - 0s 143us/step - loss: 0.0237 - acc: 1.0000
Epoch 47/50
233/233 [==============================] - 0s 133us/step - loss: 0.0222 - acc: 1.0000
Epoch 48/50
233/233 [==============================] - 0s 125us/step - loss: 0.0231 - acc: 1.0000
Epoch 49/50
233/233 [==============================] - 0s 117us/step - loss: 0.0197 - acc: 1.0000
Epoch 50/50
233/233 [==============================] - 0s 129us/step - loss: 0.0191 - acc: 1.0000

In [36]:
# generate classification report using predictions for categorical model
from sklearn.metrics import classification_report, accuracy_score

predictions = model.predict_classes(X_test)
predictions

array([1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1], dtype=int64)

In [37]:
print('Results for Categorical Model')
print(accuracy_score(Y_test[['YES']], predictions))
print(classification_report(Y_test[['YES']], predictions))

Results for Categorical Model
0.9322033898305084
              precision    recall  f1-score   support

           0       1.00      0.89      0.94        35
           1       0.86      1.00      0.92        24

   micro avg       0.93      0.93      0.93        59
   macro avg       0.93      0.94      0.93        59
weighted avg       0.94      0.93      0.93        59